html, body {
    height: 100%;
    background-color: #282a36;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    scroll-behavior: smooth;
}

.grey {
    color: #9E9E9E;
}

.purple {
    color: #bd93f9;
}

.white,
.white:hover {
    color: white;
}

.bg-darkgrey {
    background-color: #44475a;
}

.bg-purple {
    background-color: #bd93f9;
}


.sidenav {
    position: fixed;
    /* width: auto; */
    /* z-index: 1; */
    background-color: transparent;
    /* overflow-x: hidden; */
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.sidenav a {
    writing-mode: vertical-rl;
    color: #bd93f9;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: transparent;
    outline: 0 !important;
}


.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item.active .nav-link {
    color: #bd93f9;
}

.list-group-item {
    background-color: #44475a;
}

.list-group-item:hover,
.list-group-item.active {
    background-color:#282a36;
    text-decoration: none;
}
